.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px; /* Defina a largura que você deseja para a navbar */
  height: auto;
  overflow: auto;
  background-color: #000000;
}

.navbar {
  background-color: #ffffff1a;
  .navbar-brand {
      color: #ff0000;
      background-color: #000000;
    }
    
    .nav-item {
      color: #ff0000;
    
    &.nav-link {
        :hover{
          background-color: #000000;
        }
      }
  }
}